<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header>
    <nav>
      <ul style="display: flex; color: #F0F; font-weight: bold; gap: 1rem; list-style: none;">
        <li><a href="/" style="color: #F0F;">Afficher</a></li>
        <li><a href="/add" style="color: #F0F;">Ajouter</a></li>
      </ul>
    </nav>
  </header>

  <main>
