<%- include('./partials/header.ejs') %>

<h1>Ajouter un nombre</h1>
<form method="POST">
  <input type="number" name="num">
  <button type="submit">Ajouter</button>
</form>

<%- include('./partials/footer.ejs') %>
